@page "/"

<PageTitle>Home</PageTitle>


<div class="row mt-4">
	<div class="col-4">
		<button class="btn btn-success">Felicidades!</button>
		<button class="btn btn-danger">Cancelar</button>
	</div>
</div>